body {
  font-family: Arial, sans-serif;
  color: rgb(166, 27, 78);
  text-align: center;
  margin: 100px;
  background-color: beige;
}
input {
  padding: 10px;
  width: 250px;
  border-radius: 40px;
  border-color: beige;
  margin-bottom: 10px;
  background-color: rgb(243, 224, 231);
  color: rgb(166, 27, 78);
}
button {
  padding: 5px 10px;
  width: 100px;
  height: 32px;
  border-radius: 40px;
  border-color: beige;
  margin: 3px;
  cursor: pointer;
  color: beige;
  background-color: rgb(166, 27, 78);
}
#results-div {
  margin-top: 20px;
  font-weight: bold;
}
